<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.kyriakos.capsella">
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".User"

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Capsella"

        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Language_Choose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".Login"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".Question2"></activity>
        <activity android:name=".Question3"></activity>
        <activity android:name=".Question4"></activity>
        <activity android:name=".Question5"></activity>
        <activity android:name=".Question6"></activity>
        <activity android:name=".Question7"></activity>
        <activity android:name=".Question8"></activity>
        <activity android:name=".Question9"></activity>
        <activity android:name=".Question10"></activity>
        <activity android:name=".Question11"></activity>
        <activity android:name=".Question12"></activity>
        <activity android:name=".Question13"></activity>
        <activity android:name=".Question14"></activity>
        <activity android:name=".Question15"></activity>
        <activity android:name=".Question16"></activity>
        <activity android:name=".Question17"></activity>
        <activity android:name=".Question18"></activity>
        <activity android:name=".Question19"></activity>
        <activity android:name=".Question20"></activity>
        <activity android:name=".Question21"></activity>
        <activity android:name=".Question22"></activity>
        <activity android:name=".Question23"></activity>
        <activity android:name=".Question24"></activity>
        <activity android:name=".GPS"></activity>
        <activity android:name=".NumberOfLayers"></activity>
        <activity android:name=".NumberOfLayers2"></activity>
        <activity android:name=".UserInformation"></activity>
        <activity android:name=".UserInformationZero"></activity>

        <activity android:name=".Upload"></activity>

    </application>

</manifest>